# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribuições e builds
build/
dist/
*.egg-info/

# Arquivos de log
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos gerados pelo IDE (exemplos)
.vscode/
.idea/
*.iml